* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
    padding-right:20%;
    padding-left:  20%;
    padding-top: 8px;
    padding-bottom: 75px;
    row-gap: 75px;
}

/* Head-top */
.head-logo {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
    align-self: center;
}

.head-ul {
    list-style-type: none;
    
}

.head-ul li {
    display: inline;
    padding-right: 16px;
}

.head-ul li:last-child {
    padding: 0;
}

.head-ul li a:link, a:visited, a:active, .head-description{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}


.header, .footer{
    background-color: #1F2937;

}

.head-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.head-nav {
    align-self: center;
}


/* Head-content */

.head-content {
    display: flex;
    flex: 1;
    gap: 24px;
}

.head-title {
    font-size: 48px;
    font-weight: bolder;
    flex: 1;
    color:#F9FAF8;  
    line-height: 48px;
}

.head-button {
    background-color: royalblue;
    border: none;
    padding: 8px 24px;
    color:#F9FAF8;
    font-weight: 700;
    border-radius: 5px;
}

.head-img {
 flex: 1 0 auto;
 height: 200px;
 width: 400px;   
 background-color: grey;
}

.head-description {
    padding-bottom: 8px;
}
