* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    height: 100vh;
    width: 600px;
    margin: 0 auto;
}

.header {
    display: flex;
}

.head-logo {
    font-size: 24px;
    color: #F9FAF8
}

.header, .footer{
    background-color: #1F2937;

}